@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Play:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
:root {
    --hitam: #222F3E;
    --putih: #f9f9f9;
    --biru-muda: #48DBFB;
    --hitam-muda: #576574;
    --abuabu: #919191;
    --ungu: #8D56FB;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

.flex {
    display: flex;
}

.home {
    display: flex;
    width: 100%;
    height: 60em;
}

.home .left {
    flex: 1;
    background-color: var(--hitam);
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home .right {
    flex: 1;
    background-color: var(--ungu);
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.home .left .top-menu {
    height: 3em;
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 3%;
}

.top-menu .logo {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.top-menu .menu {
    flex: 4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: 'Play', sans-serif;
    font-size: 18px;
}

.top-menu .menu ul {
    list-style: none;
    display: table-row;
    border-spacing: 2em;
}

.top-menu .menu ul li {
    display: table-cell;
    vertical-align: middle;
    color: var(--hitam-muda);
    cursor: pointer;
}

.top-menu .menu ul li:hover {
    color: var(--putih);
}

.home .left .left-caption {
    height: auto;
    margin-top: 10%;
    width: 100%;
    padding-left: 5%;
}

.left-caption .head-caption {
    height: auto;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 48px;
    width: 57%;
    color: white;
}

.left-caption .sub-caption {
    margin-top: 5%;
    color: var(--hitam-muda);
    font-size: 24px;
    width: 75%;
}

.left-caption .button-container {
    margin-top: 5%;
    height: 7em;
    display: flex;
}

.left-caption .button-container a {
    display: flex;
    height: 100%;
    color: var(--hitam-muda);
    font-weight: 600;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.left-caption .button-container a:hover {
    color: var(--putih);
}

.left-caption .button-container a ion-icon {
    margin-left: 10%;
}

.left-caption .button-container a.btn-discover {
    color: var(--putih);
    background-color: var(--biru-muda);
    width: 250px;
    margin-right: 5%;
    background-position: center;
    transition: background 0.8s;
}

.left-caption .button-container a.btn-discover:hover {
    background: #47b8d1 radial-gradient(circle, transparent 1%, #47b8d1 1%) center/15000%;
}

.left-caption .button-container a.btn-discover:active {
    background-color: #38a6be;
    background-size: 100%;
    transition: background 0s;
}

.left-caption .data-container {
    margin-top: 5%;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-caption .data-container .data {
    display: inline-block;
    color: var(--putih);
    font-size: 24px;
    font-family: 'Exo', sans-serif;
}

.left-caption .data-container .data .data-head-font {
    color: var(--biru-muda);
    font-size: 42px;
    font-weight: 600;
}

.right img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.right .trip-info {
    width: 50%;
    height: 20%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 22px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    bottom: 10%;
    font-family: 'Exo', sans-serif;
    padding-top: 1em;
    padding-left: 2em;
    font-weight: 400;
    font-size: 18px;
    color: var(--abuabu);
    border: 1px solid var(--putih);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.5);
}


/*
.right .trip-info:before {
    content: "";
    position: absolute;
    background: url('img/metal.jpg');
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(100px);
    margin: -20px;
}
*/

.right .trip-info .trip-head-font {
    font-size: 28px;
    color: var(--ungu);
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5em;
}

.right .button-frame {
    width: 100%;
    height: 3em;
    z-index: 5;
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}

.right .button-frame>button {
    margin-left: 1%;
}

.right .button-frame button {
    height: 100%;
    border-radius: 7px;
    width: 7em;
    color: var(--ungu);
    font-weight: 600;
    font-size: 14px;
    border: 2px solid var(--ungu);
    background-color: #f9f9f956;
    cursor: pointer;
    box-shadow: 0 0 4px #999;
}

.right .button-frame .register {
    background-color: var(--ungu);
    color: var(--putih);
}